<div class="container">
  <h1 class="text-center"><%= @restaurant.name %></h1>
  <div class="row">
    <div class="col-sm-12 informations">
      <p> Address: <%= @restaurant.address %></p>
      <p> Category: <%= @restaurant.category %><p>
    </div>

  </div>
  <ul class="list-unstyled">
    <h2 class="text-center" style="margin-bottom: 20px">Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
        <li class="gray_block"><%= review.content %></li>
        <li class="gray_block">Note : <%= review.rating %></li>
      <hr>
    <% end %>
  </ul>
    <%= render 'reviews/form'%>
  <hr>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <%= link_to restaurants_path, class: 'btn btn-primary btn-lg clearfix' do %>
        <p>
          <i class="fas fa-list-ul"></i>
          See all the restaurants
        </p>
      <% end %>
     <hr>
    </div>
  </div>
</div>

